

.tab-active {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.box-bd .next {
    display: none;
}

.swiper .swiper-img .current {
    background: hsla(0,0%,100%,.4);
    border-color: rgba(0,0,0,.4);
}


